@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #343a40;
  color: #cbcaca;
}

button {
  font-family: "Nunito", sans-serif;
  font-size: .9rem;
  border: none;
  border-radius: 3px;
  padding: 8px;
  background-color: aqua;
  color: rgb(25, 46, 46);
  cursor: pointer;
}

input,
textarea {
  background-color: #343a40;
  color: #ababab;
  border: 1px solid #2e3238;
  border-radius: 3px;
  height: 30px;
  padding-left: 20px;
  font-family: "Nunito", sans-serif;
}

textarea {
  height: auto;
  padding: 20px;
}

.App {
  min-height: 90vh;
}

.container {
  max-width: 600px;
  height: 90vh;
  margin: 5vh auto;
  padding: 2%;
  background-color: #3c424a;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: relative;
  overflow: hidden;
}

.CreateTaskForm {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  .title-input {
    background-color: #343a40;
    color: #ababab;
    border: 1px solid #2e3238;
    border-radius: 3px;
    height: 30px;
    padding-left: 20px;
    flex: 1;
    font-family: "Nunito", sans-serif;
  }

  .add-task-button {
    width: 30px;
    font-size: 1.3rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: aqua;
    color: rgb(25, 46, 46);
    cursor: pointer;
  }
}

.Task {
  font-size: 0.9rem;
  padding: 8px 0;
  gap: 20px;
  display: flex;
  justify-content: start;
  align-items: center;

  .task-menu-icon {
    aspect-ratio: 1;
    margin-left: auto;
    cursor: pointer;
  }

  .task-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #3c424a;
    padding: 5%;
    top: 0;
    right: -100%;
    opacity: 0;
    transition: opacity, right 0.3s, 0.2s ease-in-out;
  }

  .task-data {
    padding-right: 30px;
  }

  .task-description {
    color: #9e9b9b;
    font-size: .8rem;
  }

  .task-menu-expanded {
    right: 0;
    opacity: 1;
  }

  .task-done-icon {
    border: 1px solid aqua;
    flex: 0 0 20px;
    border-radius: 50%;
    aspect-ratio: 1;
    cursor: pointer;
  }

  .task-done-icon-checked {
    background-color: aqua;
  }
}

.sloth {
  margin: 0 auto;
  display: block;
  opacity: 0.4;
}

.close-icon {
  cursor: pointer;
  width: 15px;
  align-self: flex-end;
}
